APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://internet-provedores.onrender.com

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=HOST_AQUI
DB_PORT=5432
DB_DATABASE=NOME
DB_USERNAME=USUARIO
DB_PASSWORD=SENHA